.app-container {
    display: flex;
    min-height: 100vh;
    padding-top: 70px; /* Space for fixed navbar */
}

.main-content {
    margin-left: 280px; /* Width of the sidebar */
    width: calc(100% - 280px);
    padding: 24px;
    flex: 1;
}
