.app-container {
    display: flex;
    min-height: 100vh;
}

.layout-content {
    margin-left: 280px; /* Width of the sidebar */
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    padding: 24px;
    flex: 1;
}
